[submodule "kwbase/vendor"]
	path = kwbase/vendor
	url = https://gitee.com/kwdb/kw-vendor.git
	branch = 2.0-master
[submodule "kwbase/c-deps"]
	path = kwbase/c-deps
	url = https://gitee.com/kwdb/kw-cdeps.git
	branch = 2.0-master
[submodule "common/third_party"]
	path = common/third_party
	url = https://gitee.com/kwdb/kw-third_party.git
	branch = 2.0-master
