> create ts database ts_bench2;
CREATE TS DATABASE
> CREATE TABLE ts_bench2.test1 (ts TIMESTAMPTZ NOT NULL,e1 timestamp(3),e2 timestamp(6),e3 timestamp(9),s1 timestamptz(3),s2 timestamptz(6),s3 timestamptz(9)) TAGS (t1 int not null) PRIMARY TAGS (t1);
CREATE TABLE
> insert into ts_bench2.test1 values("2026-06-26 17:25:30.996","2026-06-26 09:25:30.996","2026-06-26 09:25:30.99569","2026-06-26 09:25:30.9956902","2026-06-26 17:25:30.996","2026-06-26 17:25:30.995691","2026-06-26 17:25:30.995691",1);
INSERT 1
> set time zone 0;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 17:25:30.996+00:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 17:25:30.996+00:00 | 2026-06-26 17:25:30.995691+00:00 | 2026-06-26 17:25:30.995691+00:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 17:25:30.996+00:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 17:25:30.996+00:00 | 2026-06-26 17:25:30.995691+00:00 | 2026-06-26 17:25:30.995691+00:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 17:25:30.996+00:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 17:25:30.996+00:00 | 2026-06-26 17:25:30.995691+00:00 | 2026-06-26 17:25:30.995691+00:00 |  1
(1 row)
> set time zone 1;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 18:25:30.996+01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 18:25:30.996+01:00 | 2026-06-26 18:25:30.995691+01:00 | 2026-06-26 18:25:30.995691+01:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 18:25:30.996+01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 18:25:30.996+01:00 | 2026-06-26 18:25:30.995691+01:00 | 2026-06-26 18:25:30.995691+01:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 18:25:30.996+01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 18:25:30.996+01:00 | 2026-06-26 18:25:30.995691+01:00 | 2026-06-26 18:25:30.995691+01:00 |  1
(1 row)
> set time zone 2;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 19:25:30.996+02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 19:25:30.996+02:00 | 2026-06-26 19:25:30.995691+02:00 | 2026-06-26 19:25:30.995691+02:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 19:25:30.996+02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 19:25:30.996+02:00 | 2026-06-26 19:25:30.995691+02:00 | 2026-06-26 19:25:30.995691+02:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 19:25:30.996+02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 19:25:30.996+02:00 | 2026-06-26 19:25:30.995691+02:00 | 2026-06-26 19:25:30.995691+02:00 |  1
(1 row)
> set time zone 3;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 20:25:30.996+03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 20:25:30.996+03:00 | 2026-06-26 20:25:30.995691+03:00 | 2026-06-26 20:25:30.995691+03:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 20:25:30.996+03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 20:25:30.996+03:00 | 2026-06-26 20:25:30.995691+03:00 | 2026-06-26 20:25:30.995691+03:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 20:25:30.996+03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 20:25:30.996+03:00 | 2026-06-26 20:25:30.995691+03:00 | 2026-06-26 20:25:30.995691+03:00 |  1
(1 row)
> set time zone 4;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 21:25:30.996+04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 21:25:30.996+04:00 | 2026-06-26 21:25:30.995691+04:00 | 2026-06-26 21:25:30.995691+04:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 21:25:30.996+04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 21:25:30.996+04:00 | 2026-06-26 21:25:30.995691+04:00 | 2026-06-26 21:25:30.995691+04:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 21:25:30.996+04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 21:25:30.996+04:00 | 2026-06-26 21:25:30.995691+04:00 | 2026-06-26 21:25:30.995691+04:00 |  1
(1 row)
> set time zone 5;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 22:25:30.996+05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 22:25:30.996+05:00 | 2026-06-26 22:25:30.995691+05:00 | 2026-06-26 22:25:30.995691+05:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 22:25:30.996+05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 22:25:30.996+05:00 | 2026-06-26 22:25:30.995691+05:00 | 2026-06-26 22:25:30.995691+05:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 22:25:30.996+05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 22:25:30.996+05:00 | 2026-06-26 22:25:30.995691+05:00 | 2026-06-26 22:25:30.995691+05:00 |  1
(1 row)
> set time zone 6;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 23:25:30.996+06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 23:25:30.996+06:00 | 2026-06-26 23:25:30.995691+06:00 | 2026-06-26 23:25:30.995691+06:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 23:25:30.996+06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 23:25:30.996+06:00 | 2026-06-26 23:25:30.995691+06:00 | 2026-06-26 23:25:30.995691+06:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 23:25:30.996+06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 23:25:30.996+06:00 | 2026-06-26 23:25:30.995691+06:00 | 2026-06-26 23:25:30.995691+06:00 |  1
(1 row)
> set time zone 7;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 00:25:30.996+07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 00:25:30.996+07:00 | 2026-06-27 00:25:30.995691+07:00 | 2026-06-27 00:25:30.995691+07:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 00:25:30.996+07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 00:25:30.996+07:00 | 2026-06-27 00:25:30.995691+07:00 | 2026-06-27 00:25:30.995691+07:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 00:25:30.996+07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 00:25:30.996+07:00 | 2026-06-27 00:25:30.995691+07:00 | 2026-06-27 00:25:30.995691+07:00 |  1
(1 row)
> set time zone 8;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set time zone 9;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 02:25:30.996+09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 02:25:30.996+09:00 | 2026-06-27 02:25:30.995691+09:00 | 2026-06-27 02:25:30.995691+09:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 02:25:30.996+09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 02:25:30.996+09:00 | 2026-06-27 02:25:30.995691+09:00 | 2026-06-27 02:25:30.995691+09:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 02:25:30.996+09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 02:25:30.996+09:00 | 2026-06-27 02:25:30.995691+09:00 | 2026-06-27 02:25:30.995691+09:00 |  1
(1 row)
> set time zone 10;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 03:25:30.996+10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 03:25:30.996+10:00 | 2026-06-27 03:25:30.995691+10:00 | 2026-06-27 03:25:30.995691+10:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 03:25:30.996+10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 03:25:30.996+10:00 | 2026-06-27 03:25:30.995691+10:00 | 2026-06-27 03:25:30.995691+10:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 03:25:30.996+10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 03:25:30.996+10:00 | 2026-06-27 03:25:30.995691+10:00 | 2026-06-27 03:25:30.995691+10:00 |  1
(1 row)
> set time zone 11;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 04:25:30.996+11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 04:25:30.996+11:00 | 2026-06-27 04:25:30.995691+11:00 | 2026-06-27 04:25:30.995691+11:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 04:25:30.996+11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 04:25:30.996+11:00 | 2026-06-27 04:25:30.995691+11:00 | 2026-06-27 04:25:30.995691+11:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 04:25:30.996+11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 04:25:30.996+11:00 | 2026-06-27 04:25:30.995691+11:00 | 2026-06-27 04:25:30.995691+11:00 |  1
(1 row)
> set time zone 12;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 05:25:30.996+12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 05:25:30.996+12:00 | 2026-06-27 05:25:30.995691+12:00 | 2026-06-27 05:25:30.995691+12:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 05:25:30.996+12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 05:25:30.996+12:00 | 2026-06-27 05:25:30.995691+12:00 | 2026-06-27 05:25:30.995691+12:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 05:25:30.996+12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 05:25:30.996+12:00 | 2026-06-27 05:25:30.995691+12:00 | 2026-06-27 05:25:30.995691+12:00 |  1
(1 row)
> set time zone -1;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 16:25:30.996-01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 16:25:30.996-01:00 | 2026-06-26 16:25:30.995691-01:00 | 2026-06-26 16:25:30.995691-01:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 16:25:30.996-01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 16:25:30.996-01:00 | 2026-06-26 16:25:30.995691-01:00 | 2026-06-26 16:25:30.995691-01:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 16:25:30.996-01:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 16:25:30.996-01:00 | 2026-06-26 16:25:30.995691-01:00 | 2026-06-26 16:25:30.995691-01:00 |  1
(1 row)
> set time zone -2;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 15:25:30.996-02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 15:25:30.996-02:00 | 2026-06-26 15:25:30.995691-02:00 | 2026-06-26 15:25:30.995691-02:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 15:25:30.996-02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 15:25:30.996-02:00 | 2026-06-26 15:25:30.995691-02:00 | 2026-06-26 15:25:30.995691-02:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 15:25:30.996-02:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 15:25:30.996-02:00 | 2026-06-26 15:25:30.995691-02:00 | 2026-06-26 15:25:30.995691-02:00 |  1
(1 row)
> set time zone -3;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 14:25:30.996-03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 14:25:30.996-03:00 | 2026-06-26 14:25:30.995691-03:00 | 2026-06-26 14:25:30.995691-03:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 14:25:30.996-03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 14:25:30.996-03:00 | 2026-06-26 14:25:30.995691-03:00 | 2026-06-26 14:25:30.995691-03:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 14:25:30.996-03:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 14:25:30.996-03:00 | 2026-06-26 14:25:30.995691-03:00 | 2026-06-26 14:25:30.995691-03:00 |  1
(1 row)
> set time zone -4;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 13:25:30.996-04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 13:25:30.996-04:00 | 2026-06-26 13:25:30.995691-04:00 | 2026-06-26 13:25:30.995691-04:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 13:25:30.996-04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 13:25:30.996-04:00 | 2026-06-26 13:25:30.995691-04:00 | 2026-06-26 13:25:30.995691-04:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 13:25:30.996-04:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 13:25:30.996-04:00 | 2026-06-26 13:25:30.995691-04:00 | 2026-06-26 13:25:30.995691-04:00 |  1
(1 row)
> set time zone -5;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 12:25:30.996-05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 12:25:30.996-05:00 | 2026-06-26 12:25:30.995691-05:00 | 2026-06-26 12:25:30.995691-05:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 12:25:30.996-05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 12:25:30.996-05:00 | 2026-06-26 12:25:30.995691-05:00 | 2026-06-26 12:25:30.995691-05:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 12:25:30.996-05:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 12:25:30.996-05:00 | 2026-06-26 12:25:30.995691-05:00 | 2026-06-26 12:25:30.995691-05:00 |  1
(1 row)
> set time zone -6;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 11:25:30.996-06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 11:25:30.996-06:00 | 2026-06-26 11:25:30.995691-06:00 | 2026-06-26 11:25:30.995691-06:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 11:25:30.996-06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 11:25:30.996-06:00 | 2026-06-26 11:25:30.995691-06:00 | 2026-06-26 11:25:30.995691-06:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 11:25:30.996-06:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 11:25:30.996-06:00 | 2026-06-26 11:25:30.995691-06:00 | 2026-06-26 11:25:30.995691-06:00 |  1
(1 row)
> set time zone -7;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 10:25:30.996-07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 10:25:30.996-07:00 | 2026-06-26 10:25:30.995691-07:00 | 2026-06-26 10:25:30.995691-07:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 10:25:30.996-07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 10:25:30.996-07:00 | 2026-06-26 10:25:30.995691-07:00 | 2026-06-26 10:25:30.995691-07:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 10:25:30.996-07:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 10:25:30.996-07:00 | 2026-06-26 10:25:30.995691-07:00 | 2026-06-26 10:25:30.995691-07:00 |  1
(1 row)
> set time zone -8;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.995691-08:00 | 2026-06-26 09:25:30.995691-08:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.995691-08:00 | 2026-06-26 09:25:30.995691-08:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 09:25:30.996-08:00 | 2026-06-26 09:25:30.995691-08:00 | 2026-06-26 09:25:30.995691-08:00 |  1
(1 row)
> set time zone -9;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 08:25:30.996-09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 08:25:30.996-09:00 | 2026-06-26 08:25:30.995691-09:00 | 2026-06-26 08:25:30.995691-09:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 08:25:30.996-09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 08:25:30.996-09:00 | 2026-06-26 08:25:30.995691-09:00 | 2026-06-26 08:25:30.995691-09:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 08:25:30.996-09:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 08:25:30.996-09:00 | 2026-06-26 08:25:30.995691-09:00 | 2026-06-26 08:25:30.995691-09:00 |  1
(1 row)
> set time zone -10;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 07:25:30.996-10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 07:25:30.996-10:00 | 2026-06-26 07:25:30.995691-10:00 | 2026-06-26 07:25:30.995691-10:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 07:25:30.996-10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 07:25:30.996-10:00 | 2026-06-26 07:25:30.995691-10:00 | 2026-06-26 07:25:30.995691-10:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 07:25:30.996-10:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 07:25:30.996-10:00 | 2026-06-26 07:25:30.995691-10:00 | 2026-06-26 07:25:30.995691-10:00 |  1
(1 row)
> set time zone -11;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 06:25:30.996-11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 06:25:30.996-11:00 | 2026-06-26 06:25:30.995691-11:00 | 2026-06-26 06:25:30.995691-11:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 06:25:30.996-11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 06:25:30.996-11:00 | 2026-06-26 06:25:30.995691-11:00 | 2026-06-26 06:25:30.995691-11:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 06:25:30.996-11:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 06:25:30.996-11:00 | 2026-06-26 06:25:30.995691-11:00 | 2026-06-26 06:25:30.995691-11:00 |  1
(1 row)
> set time zone -12;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 05:25:30.996-12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 05:25:30.996-12:00 | 2026-06-26 05:25:30.995691-12:00 | 2026-06-26 05:25:30.995691-12:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 05:25:30.996-12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 05:25:30.996-12:00 | 2026-06-26 05:25:30.995691-12:00 | 2026-06-26 05:25:30.995691-12:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-26 05:25:30.996-12:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-26 05:25:30.996-12:00 | 2026-06-26 05:25:30.995691-12:00 | 2026-06-26 05:25:30.995691-12:00 |  1
(1 row)
> set time zone 0;
SET
> set pg_extend_compress=off;
SET
> DROP DATABASE IF exists ts_bench2 cascade;
DROP DATABASE
