> create ts database ts_bench2;
CREATE TS DATABASE
> CREATE TABLE ts_bench2.test1 (ts TIMESTAMPTZ NOT NULL,e1 timestamp(3),e2 timestamp(6),e3 timestamp(9),s1 timestamptz(3),s2 timestamptz(6),s3 timestamptz(9)) TAGS (t1 int not null) PRIMARY TAGS (t1);
CREATE TABLE
> insert into ts_bench2.test1 values("2026-06-26 17:25:30.996","2026-06-26 09:25:30.996","2026-06-26 09:25:30.99569","2026-06-26 09:25:30.9956902","2026-06-26 17:25:30.996","2026-06-26 17:25:30.995691","2026-06-26 17:25:30.995691",1);
INSERT 1
> set time zone 8;
SET
> set pg_extend_compress=off;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set pg_extend_compress=lz4_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set pg_extend_compress=snappy_compress;
SET
> select * from ts_bench2.test1 order by ts;
               ts               |           e1            |            e2             |             e3              |              s1               |                s2                |                s3                | t1
--------------------------------+-------------------------+---------------------------+-----------------------------+-------------------------------+----------------------------------+----------------------------------+-----
  2026-06-27 01:25:30.996+08:00 | 2026-06-26 09:25:30.996 | 2026-06-26 09:25:30.99569 | 2026-06-26 09:25:30.9956902 | 2026-06-27 01:25:30.996+08:00 | 2026-06-27 01:25:30.995691+08:00 | 2026-06-27 01:25:30.995691+08:00 |  1
(1 row)
> set time zone 0;
SET
> set pg_extend_compress=off;
SET
> DROP DATABASE IF exists ts_bench2 cascade;
DROP DATABASE
