> DROP DATABASE IF EXISTS bh13c CASCADE;
DROP DATABASE
> CREATE TS DATABASE bh13c;
CREATE TS DATABASE
> CREATE TABLE bh13c.t1 (
  ts TIMESTAMP NOT NULL,
  v FLOAT
) TAGS (
  tag1 INT NOT NULL
) PRIMARY TAGS(tag1);
CREATE TABLE
> INSERT INTO bh13c.t1 VALUES ('2026-06-13 00:00:00', 100, 1);
INSERT 1
> SELECT log(v, 10::FLOAT) AS log_100_base10 FROM bh13c.t1;
  log_100_base10
------------------
               2
(1 row)
> DROP DATABASE bh13c CASCADE;
DROP DATABASE
