> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000 YEAR;
ERROR: partition interval 100000000000000year is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 1001Y;
ERROR: partition interval 1001y is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 13000MONTH;
ERROR: partition interval 13000month is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 13000MON;
ERROR: partition interval 13000mon is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000W;
ERROR: partition interval 100000000000000w is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000WEEK;
ERROR: partition interval 100000000000000week is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000DAY;
ERROR: partition interval 100000000000000day is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000D;
ERROR: partition interval 100000000000000d is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000H;
ERROR: unsupported partition interval unit: h
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000HOUR;
ERROR: unsupported partition interval unit: hour
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000M;
ERROR: unsupported partition interval unit: m
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000MINUTE;
ERROR: unsupported partition interval unit: minute
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000S;
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000SECOND;
ERROR: unsupported partition interval unit: second
SQLSTATE: 22023
> create ts database tsdb PARTITION INTERVAL 2d;
CREATE TS DATABASE
> alter ts database tsdb set PARTITION INTERVAL = 10d;
ERROR: at or near "partition": syntax error
SQLSTATE: 42601
DETAIL: source SQL:
alter ts database tsdb set PARTITION INTERVAL = 10d
                           ^
HINT: try \h ALTER
> create table tsdb.t(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag);
CREATE TABLE
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 15d;
ERROR: at or near "partition": syntax error
SQLSTATE: 42601
DETAIL: source SQL:
create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 15d
                                                                                              ^
> SELECT PARTITION_INTERVAL from tsdb.information_schema.schemata where schema_name='public' order by RETENTIONS;
  partition_interval
----------------------
              172800
(1 row)
> SHOW CREATE TABLE tsdb.t;
   table_name   |              create_statement
----------------+----------------------------------------------
  tsdb.public.t | CREATE TABLE t (
                |     ts TIMESTAMPTZ(3) NOT NULL,
                |     a INT4 NULL
                | ) TAGS (
                |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                |     retentions 0s
                |     activetime 1d
                |
(1 row)
> alter table tsdb.t set PARTITION INTERVAL = 25d;
ERROR: at or near "partition": syntax error
SQLSTATE: 42601
DETAIL: source SQL:
alter table tsdb.t set PARTITION INTERVAL = 25d
                       ^
HINT: try \h ALTER TABLE
> DROP database tsdb cascade;
DROP DATABASE
> create ts database tsdb PARTITION INTERVAL 1d;
CREATE TS DATABASE
> SELECT PARTITION_INTERVAL from tsdb.information_schema.schemata where schema_name='public' order by RETENTIONS;
  partition_interval
----------------------
               86400
(1 row)
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag);
CREATE TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |
(1 row)
> insert into tsdb.t1 values('2019-12-11 01:23:05', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-12 11:23:28', 1, 400);
INSERT 1
> insert into tsdb.t1 values('2021-12-16 01:23:49', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2022-01-16 01:23:51', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:39', 1, 200);
INSERT 1
> insert into tsdb.t1 values('2023-03-16 01:23:53', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-11-16 01:23:24', 1, 800);
INSERT 1
> insert into tsdb.t1 values('2020-10-16 01:23:19', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-16 01:23:13', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-11 01:23:26', 1, 600);
INSERT 1
> insert into tsdb.t1 values('2020-12-12 11:23:29', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-16 01:23:32', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-01-16 01:23:37', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:40', 1, 300);
INSERT 1
> insert into tsdb.t1 values('2021-03-16 01:23:43', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-11-16 01:23:25', 1, 500);
INSERT 1
> insert into tsdb.t1 values('2020-10-16 01:23:20', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-16 01:23:14', 1, 100);
INSERT 1
> select * from tsdb.t1 order by ts;
             ts             | a | ptag
----------------------------+---+-------
  2019-12-11 01:23:05+00:00 | 1 |  100
  2020-09-16 01:23:13+00:00 | 1 |  100
  2020-09-16 01:23:14+00:00 | 1 |  100
  2020-10-16 01:23:19+00:00 | 1 |  100
  2020-10-16 01:23:20+00:00 | 1 |  100
  2020-11-16 01:23:24+00:00 | 1 |  800
  2020-11-16 01:23:25+00:00 | 1 |  500
  2020-12-11 01:23:26+00:00 | 1 |  600
  2020-12-12 11:23:28+00:00 | 1 |  400
  2020-12-12 11:23:29+00:00 | 1 |  100
  2020-12-16 01:23:32+00:00 | 1 |  100
  2021-01-16 01:23:37+00:00 | 1 |  100
  2021-02-16 01:23:39+00:00 | 1 |  200
  2021-02-16 01:23:40+00:00 | 1 |  300
  2021-03-16 01:23:43+00:00 | 1 |  100
  2021-12-16 01:23:49+00:00 | 1 |  100
  2022-01-16 01:23:51+00:00 | 1 |  100
  2023-03-16 01:23:53+00:00 | 1 |  100
(18 rows)
> DROP database tsdb cascade;
DROP DATABASE
