> drop database if exists stream_db_fvt cascade;
DROP DATABASE
> create ts database stream_db_fvt;
CREATE TS DATABASE
> drop database if exists stream_db_fvt_out cascade;
DROP DATABASE
> create ts database stream_db_fvt_out;
CREATE TS DATABASE
> drop database if exists stream_db_fvt_out1 cascade;
DROP DATABASE
> create database stream_db_fvt_out1;
CREATE DATABASE
> drop database if exists stream_db_fvt1 cascade;
DROP DATABASE
> create ts database stream_db_fvt1;
CREATE TS DATABASE
> drop database if exists stream_db_fvt2 cascade;
DROP DATABASE
> create ts database stream_db_fvt2;
CREATE TS DATABASE
> create table stream_db_fvt_out.cpu_stream_out
(
    w_begin              timestamptz not null,
    w_end                timestamptz not null,
    usage_user_avg       bigint      not null,
    usage_system_avg     bigint      not null,
    count                bigint      not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt.cpu
(
    k_timestamp      timestamp not null,
    usage_user       bigint    not null,
    usage_system     bigint    not null,
    usage_idle       bigint    not null,
    usage_nice       bigint    not null,
    usage_iowait     bigint    not null,
    usage_irq        bigint    not null,
    usage_softirq    bool      not null,
    usage_softirq_f  float,
    usage_steal      bigint,
    usage_guest      bigint,
    usage_guest_nice bigint
) attributes (
    hostname char(30) not null,
    region char(30),
    datacenter char(30),
    rack char(30),
    os char(30),
    arch char(30),
    team char(30),
    service char(30),
    service_version char(30),
    service_environment char(30)
    )
primary attributes (hostname);
CREATE TABLE
> create stream test_stream1 into stream_db_fvt_out.cpu_stream_out with options (enable='off') AS SELECT first_row(k_timestamp), last_row(k_timestamp), max(usage_user), max(usage_system), count(*), hostname FROM stream_db_fvt.cpu GROUP BY hostname, TIME_WINDOW(k_timestamp, '1m');
CREATE STREAM
> alter stream test_stream1 set low_latency='off';
ALTER STREAM
> select name,target_table_name,options,query,status,create_by,error_message from [show stream test_stream1];
      name     |            target_table_name            |                                                                                                                                 options                                                                                                                                 |                                                                                                  query                                                                                                   | status  | create_by | error_message
---------------+-----------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+----------------
  test_stream1 | stream_db_fvt_out.public.cpu_stream_out | {"enable":"off","max_delay":"24h","sync_time":"1m","process_history":"off","ignore_expired":"on","ignore_update":"on","max_retries":"5","checkpoint_interval":"10s","heartbeat_interval":"2s","recalculate_delay_rounds":"10","buffer_size":"2GiB","low_latency":"off"} | SELECT first_row(k_timestamp), last_row(k_timestamp), max(usage_user), max(usage_system), count(*), hostname FROM stream_db_fvt.public.cpu WHERE 1 = 1 GROUP BY hostname, time_window(k_timestamp, '1m') | Disable | root      | NULL
(1 row)
> alter stream test_stream1 set low_latency='on';
ALTER STREAM
> alter stream test_stream1 set low_latency='On';
ALTER STREAM
> alter stream test_stream1 set low_latency='oN';
ALTER STREAM
> alter stream test_stream1 set low_latency='ON';
ALTER STREAM
> alter stream test_stream1 set low_latency='yes';
ERROR: unexpected value "yes" for stream option "low_latency" (expected 'on/off')
SQLSTATE: 22023
> alter stream test_stream1 set low_latency='No';
ERROR: unexpected value "No" for stream option "low_latency" (expected 'on/off')
SQLSTATE: 22023
> alter stream test_stream1 set sync_time='30s';
ALTER STREAM
> select name,target_table_name,options,query,status,create_by,error_message from [show stream test_stream1];
      name     |            target_table_name            |                                                                                                                                 options                                                                                                                                 |                                                                                                  query                                                                                                   | status  | create_by | error_message
---------------+-----------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+----------------
  test_stream1 | stream_db_fvt_out.public.cpu_stream_out | {"enable":"off","max_delay":"24h","sync_time":"30s","process_history":"off","ignore_expired":"on","ignore_update":"on","max_retries":"5","checkpoint_interval":"10s","heartbeat_interval":"2s","recalculate_delay_rounds":"10","buffer_size":"2GiB","low_latency":"on"} | SELECT first_row(k_timestamp), last_row(k_timestamp), max(usage_user), max(usage_system), count(*), hostname FROM stream_db_fvt.public.cpu WHERE 1 = 1 GROUP BY hostname, time_window(k_timestamp, '1m') | Disable | root      | NULL
(1 row)
> alter stream test_stream1 set sync_time='1';
ERROR: unexpected value "1" for stream option "sync_time" (expected 'Time Duration', for example, '20s')
SQLSTATE: 22023
> alter stream test_stream1 set sync_time='-1s';
ERROR: unexpected value "-1s" for stream option "sync_time", the minimal value is 0 Second
SQLSTATE: 22023
> alter stream test_stream1 set sync_time='1s';
ERROR: sync_time 1s must  set 0 or more than checkpoint_interval
> alter stream test_stream1 set sync_time='1d';
ERROR: unexpected value "1d" for stream option "sync_time" (expected 'Time Duration', for example, '20s')
SQLSTATE: 22023
> alter stream test_stream1 set sync_time='1aaa';
ERROR: unexpected value "1aaa" for stream option "sync_time" (expected 'Time Duration', for example, '20s')
SQLSTATE: 22023
> select name,target_table_name,options,query,status,create_by,error_message from [show stream test_stream1];
      name     |            target_table_name            |                                                                                                                                 options                                                                                                                                 |                                                                                                  query                                                                                                   | status  | create_by | error_message
---------------+-----------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+----------------
  test_stream1 | stream_db_fvt_out.public.cpu_stream_out | {"enable":"off","max_delay":"24h","sync_time":"30s","process_history":"off","ignore_expired":"on","ignore_update":"on","max_retries":"5","checkpoint_interval":"10s","heartbeat_interval":"2s","recalculate_delay_rounds":"10","buffer_size":"2GiB","low_latency":"on"} | SELECT first_row(k_timestamp), last_row(k_timestamp), max(usage_user), max(usage_system), count(*), hostname FROM stream_db_fvt.public.cpu WHERE 1 = 1 GROUP BY hostname, time_window(k_timestamp, '1m') | Disable | root      | NULL
(1 row)
> drop table stream_db_fvt_out.cpu_stream_out;
ERROR: relation "cpu_stream_out" is used by stream [ test_stream1 ]
> drop table stream_db_fvt.cpu;
ERROR: relation "cpu" is used by stream [ test_stream1 ]
> drop stream test_stream1;
DROP STREAM
> drop table stream_db_fvt_out.cpu_stream_out;
DROP TABLE
> drop table stream_db_fvt.cpu;
DROP TABLE
> create table stream_db_fvt.cpu_normal
(
    k_timestamp      timestamp(6) not null,
    usage_user       bigint    not null,
    usage_system     bigint    not null,
    usage_idle       bigint    not null,
    usage_nice       bigint    not null,
    usage_iowait     bigint    not null,
    usage_irq        bigint    not null,
    usage_softirq    bigint    not null,
    usage_steal      bigint,
    usage_guest      bigint,
    usage_guest_nice bigint
) attributes (
    hostname char(30) not null,
    region char(30),
    datacenter char(30),
    rack char(30),
    os char(30),
    arch char(30),
    team char(30),
    service char(30),
    service_version char(30),
    service_environment char(30)
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_normal
(
    k_timestamp          timestamp(6) not null,
    usage_user_system    bigint       not null,
    usage_idel_nice      bigint       not null,
    usage_iowait_irq     float        not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_normal
(
    k_timestamp          timestamptz not null,
    usage_user_system    decimal,
    usage_idel_nice      decimal,
    usage_iowait_irq     decimal,
    hostname             char(30)    not null,
    PRIMARY KEY (k_timestamp ASC, hostname ASC)
);
CREATE TABLE
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:00.123456789', 58, 8, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', 'beijing', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:10.123456789', 58, 33, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:20.123456789', 58, 44, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', 'shanghai', '', '', '', '', '', '', '', '');
INSERT 1
> CREATE STREAM cpu_stream_normal_1 INTO stream_db_fvt_out.cpu_avg_normal WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT k_timestamp AS k_timestamp, hostname AS hostname, usage_user+usage_system AS usage_user_system, usage_idle*usage_nice AS usage_idel_nice, usage_iowait/usage_irq AS usage_iowait_irq FROM stream_db_fvt.cpu_normal where usage_system>11;
CREATE STREAM
> CREATE STREAM cpu_stream_normal_2 INTO stream_db_fvt_out1.cpu_avg_normal WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT k_timestamp AS k_timestamp, hostname AS hostname, usage_user+usage_system AS usage_user_system, usage_idle*usage_nice AS usage_idel_nice, usage_iowait/usage_irq AS usage_iowait_irq FROM stream_db_fvt.cpu_normal ;
ERROR:  cannot use 'process_history'='on' on non-ts target table
> CREATE STREAM cpu_stream_normal_3 INTO stream_db_fvt_out1.cpu_avg_normal WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT k_timestamp AS k_timestamp, hostname AS hostname, usage_user+usage_system AS usage_user_system, usage_idle*usage_nice AS usage_idel_nice, usage_iowait/usage_irq AS usage_iowait_irq FROM stream_db_fvt.cpu_normal where usage_system>11;
CREATE STREAM
> CREATE STREAM cpu_stream_normal_4 INTO stream_db_fvt_out1.cpu_avg_normal WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='1500ms',heartbeat_interval='2s') AS SELECT k_timestamp AS k_timestamp, hostname AS hostname, usage_user+usage_system AS usage_user_system, usage_idle*usage_nice AS usage_idel_nice, usage_iowait/usage_irq AS usage_iowait_irq FROM stream_db_fvt.cpu_normal;
ERROR: the checkpoint interval should be larger than the heartbeat interval
> select pg_sleep(2);
  pg_sleep
------------
    true
(1 row)
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:30.123456789', 58, 10, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:40.123456789', 58, 55, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:00:50.123456789', 58, 66, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:01:00.123456789', 58, 12, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:01:10.123456789', 58, 77, 25, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:01:20.123456789', 58, 88, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_normal values ('2023-05-31 10:10:00.123456789', 58, 3, 25, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> select pg_sleep(5);
  pg_sleep
------------
    true
(1 row)
> select * from stream_db_fvt_out.cpu_avg_normal order by k_timestamp,hostname;
            k_timestamp            | usage_user_system | usage_idel_nice |  usage_iowait_irq  | hostname
-----------------------------------+-------------------+-----------------+--------------------+-----------
  2023-05-31 10:00:10.123457+00:00 |                91 |            1464 | 0.3492063492063492 | host_0
  2023-05-31 10:00:20.123457+00:00 |               102 |            1464 | 0.3492063492063492 | host_1
  2023-05-31 10:00:40.123457+00:00 |               113 |            1464 | 0.3492063492063492 | host_0
  2023-05-31 10:00:50.123457+00:00 |               124 |            1464 | 0.3492063492063492 | host_0
  2023-05-31 10:01:00.123457+00:00 |                70 |            1464 | 0.3492063492063492 | host_0
  2023-05-31 10:01:10.123457+00:00 |               135 |            1525 | 0.3492063492063492 | host_0
  2023-05-31 10:01:20.123457+00:00 |               146 |            1464 | 0.3492063492063492 | host_0
(7 rows)
> select * from stream_db_fvt_out1.cpu_avg_normal order by k_timestamp,hostname;
            k_timestamp            | usage_user_system | usage_idel_nice |    usage_iowait_irq    | hostname
-----------------------------------+-------------------+-----------------+------------------------+-----------
  2023-05-31 10:00:40.123457+00:00 |               113 |            1464 | 0.34920634920634920635 | host_0
  2023-05-31 10:00:50.123457+00:00 |               124 |            1464 | 0.34920634920634920635 | host_0
  2023-05-31 10:01:00.123457+00:00 |                70 |            1464 | 0.34920634920634920635 | host_0
  2023-05-31 10:01:10.123457+00:00 |               135 |            1525 | 0.34920634920634920635 | host_0
  2023-05-31 10:01:20.123457+00:00 |               146 |            1464 | 0.34920634920634920635 | host_0
(5 rows)
> drop table stream_db_fvt.cpu_normal cascade;
DROP TABLE
> drop table stream_db_fvt_out.cpu_avg_normal cascade;
DROP TABLE
> drop table stream_db_fvt_out1.cpu_avg_normal cascade;
DROP TABLE
> create table stream_db_fvt.cpu_agg
(
    k_timestamp      timestamp(6) not null,
    usage_user       bigint    not null,
    usage_system     bigint    not null,
    usage_idle       bigint    not null,
    usage_nice       bigint    not null,
    usage_iowait     bigint    not null,
    usage_irq        bigint    not null,
    usage_softirq    bigint    not null,
    usage_steal      bigint,
    usage_guest      bigint,
    usage_guest_nice bigint
) attributes (
    hostname char(30) not null,
    region char(30),
    datacenter char(30),
    rack char(30),
    os char(30),
    arch char(30),
    team char(30),
    service char(30),
    service_version char(30),
    service_environment char(30)
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg1
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg2
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg3
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg4
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg5
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg6
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg7
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg8
(
    w_begin              timestamptz(6) not null,
    w_end                timestamptz(6) not null,
    w_begin1             timestamptz(6) not null,
    w_end1               timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out.cpu_avg_agg9
(
    w_begin              timestamp(6) not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       bigint    not null,
    usage_system_avg     bigint    not null,
    count                bigint    not null
) attributes (
    hostname char(30) not null
    )
primary attributes (hostname);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg1
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg2
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6)   not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg3
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6)   not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg4
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg5
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg6
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> create table stream_db_fvt_out1.cpu_avg_agg7
(
    w_begin              timestamptz(6)   not null,
    w_end                timestamptz(6) not null,
    usage_user_avg       decimal     not null,
    usage_system_avg     decimal     not null,
    count                decimal     not null,
    hostname             char(30)    not null,
    PRIMARY KEY (w_begin ASC, hostname ASC)
);
CREATE TABLE
> set cluster setting ts.stream.max_active_number=20;
SET CLUSTER SETTING
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:00.123456789', 58, 30, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', 'beijing', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:10.123456789', 58, 33, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:10.123456789', 58, 0, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', 'shanghai', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:20.123456789', 58, 44, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', 'shanghai', '', '', '', '', '', '', '', '');
INSERT 1
> CREATE STREAM cpu_stream_agg_ts_1 INTO stream_db_fvt_out.cpu_avg_agg1 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY TIME_BUCKET(k_timestamp, '1m'), hostname;
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_2 INTO stream_db_fvt_out.cpu_avg_agg2 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first_row(k_timestamp) as w_begin, last_row(k_timestamp) as w_end, avg(usage_user) as usage_user_avg, avg(usage_system) as usage_system_avg, count(*) as count, hostname as hostname FROM stream_db_fvt.cpu_agg WHERE usage_system+usage_system>0 GROUP BY hostname, TIME_WINDOW(k_timestamp, '1m');
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_3 INTO stream_db_fvt_out.cpu_avg_agg3 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp) as w_begin, last(k_timestamp) as w_end, avg(usage_system) as usage_system_avg, hostname as hostname, count(*) as count, avg(usage_user) as usage_user_avg FROM stream_db_fvt.cpu_agg WHERE abs(usage_system)>0 GROUP BY hostname, COUNT_WINDOW(5);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_4 INTO stream_db_fvt_out.cpu_avg_agg4 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>-1 GROUP BY hostname, SESSION_WINDOW(k_timestamp, '5m');
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_5 INTO stream_db_fvt_out.cpu_avg_agg5 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system not in (0,100) GROUP BY hostname, EVENT_WINDOW(usage_user > 50, usage_system < 20);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_6 INTO stream_db_fvt_out.cpu_avg_agg6 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, STATE_WINDOW(usage_idle);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_7 INTO stream_db_fvt_out.cpu_avg_agg7 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname;
ERROR: missing time_bucket or window function in GROUP BY cluster
> CREATE STREAM cpu_stream_agg_ts_8 INTO stream_db_fvt_out.cpu_avg_agg8 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='30',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp) as w_begin, last(k_timestamp) as w_end,first_row(k_timestamp) as w_begin1, last_row(k_timestamp) as w_end1, avg(usage_user) as usage_user_avg, avg(usage_system) as usage_system_avg, count(*) as count, hostname as hostname FROM stream_db_fvt.cpu_agg WHERE usage_system+usage_system>0 GROUP BY hostname, TIME_WINDOW(k_timestamp, '1m','30s');
CREATE STREAM
> CREATE STREAM cpu_stream_agg_ts_9 INTO stream_db_fvt_out.cpu_avg_agg9 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='30',MAX_RETRIES='3',PROCESS_HISTORY='on',IGNORE_EXPIRED='on', MAX_DELAY='10s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='5s',heartbeat_interval='1s') AS SELECT first(k_timestamp) as w_begin, last(k_timestamp) as w_end, avg(usage_system) as usage_system_avg, hostname as hostname, count(*) as count, avg(usage_user) as usage_user_avg FROM stream_db_fvt.cpu_agg WHERE abs(usage_system)>0 GROUP BY hostname, COUNT_WINDOW(5,3);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_1 INTO stream_db_fvt_out1.cpu_avg_agg1 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY TIME_BUCKET(k_timestamp, '1m'), hostname;
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_2 INTO stream_db_fvt_out1.cpu_avg_agg2 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first_row(k_timestamp) as w_begin, last_row(k_timestamp) as w_end, avg(usage_user) as usage_user_avg, avg(usage_system) as usage_system_avg, count(*) as count, hostname as hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, TIME_WINDOW(k_timestamp, '1m');
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_3 INTO stream_db_fvt_out1.cpu_avg_agg3 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp) as w_begin, last(k_timestamp) as w_end, avg(usage_system) as usage_system_avg, hostname as hostname, count(*) as count, avg(usage_user) as usage_user_avg FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, COUNT_WINDOW(5);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_4 INTO stream_db_fvt_out1.cpu_avg_agg4 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, SESSION_WINDOW(k_timestamp, '5m');
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_5 INTO stream_db_fvt_out1.cpu_avg_agg5 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, EVENT_WINDOW(usage_user > 50, usage_system < 20);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_6 INTO stream_db_fvt_out1.cpu_avg_agg6 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname, STATE_WINDOW(usage_idle);
CREATE STREAM
> CREATE STREAM cpu_stream_agg_rel_7 INTO stream_db_fvt_out1.cpu_avg_agg7 WITH OPTIONS(low_latency='on',recalculate_delay_rounds='1',MAX_RETRIES='3',PROCESS_HISTORY='off',IGNORE_EXPIRED='on', MAX_DELAY='5s',SYNC_TIME='0',BUFFER_SIZE='1024kib',checkpoint_interval='2s',heartbeat_interval='1s') AS SELECT first(k_timestamp), last(k_timestamp), avg(usage_user), avg(usage_system), count(*), hostname FROM stream_db_fvt.cpu_agg WHERE usage_system>0 GROUP BY hostname;
ERROR: missing time_bucket or window function in GROUP BY cluster
> select pg_sleep(1);
  pg_sleep
------------
    true
(1 row)
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:30.123456789', 58, 10, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:40.123456789', 58, 55, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:00:50.123456789', 58, 66, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:01:00.123456789', 58, 12, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:01:05.123456789', 58, 0, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:01:10.123456789', 58, 77, 25, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:01:20.123456789', 58, 88, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg values ('2023-05-31 10:10:00.123456789', 58, 3, 25, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> select pg_sleep(0.5);
  pg_sleep
------------
    true
(1 row)
> INSERT INTO stream_db_fvt.cpu_agg
values ('2023-05-31 10:20:00', 58, 3, 25, 61, 22, 63, 6, 44, 80, 38, 'host_1', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg
values ('2023-05-31 10:30:00', 58, 3, 25, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg
values ('2023-05-31 10:00:26', 58, 44, 24, 61, 22, 63, 6, 44, 80, 38, 'host_0', '', '', '', '', '', '', '', '', '');
INSERT 1
> INSERT INTO stream_db_fvt.cpu_agg
values ('2023-05-31 10:00:26', 58, 44, 24, 61, 22, 63, 6, 44, 80, 38, 'host_1', '', '', '', '', '', '', '', '', '');
INSERT 1
> select pg_sleep(0.5);
  pg_sleep
------------
    true
(1 row)
> select * from stream_db_fvt_out.cpu_avg_agg1 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |               46 |     4 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               27 |     2 | host_1
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out.cpu_avg_agg2 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |               46 |     4 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               27 |     2 | host_1
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out.cpu_avg_agg3 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               39 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
(2 rows)
> select * from stream_db_fvt_out.cpu_avg_agg4 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               45 |     8 | host_0
  2023-05-31 10:00:10.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               18 |     3 | host_1
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(3 rows)
> select * from stream_db_fvt_out.cpu_avg_agg5 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               44 |     3 | host_0
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |               56 |     3 | host_0
(3 rows)
> select * from stream_db_fvt_out.cpu_avg_agg6 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               39 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               27 |     2 | host_1
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:01:10.123457+00:00 |             58 |               77 |     1 | host_0
  2023-05-31 10:01:20.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               88 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out.cpu_avg_agg7 order by w_begin, hostname;
  w_begin | w_end | usage_user_avg | usage_system_avg | count | hostname
----------+-------+----------------+------------------+-------+-----------
(0 rows)
> select pg_sleep(1);
  pg_sleep
------------
    true
(1 row)
> select * from stream_db_fvt_out.cpu_avg_agg8 order by hostname, w_begin;
           w_begin          |           w_end           |             w_begin1             |              w_end1              | usage_user_avg | usage_system_avg | count | hostname
----------------------------+---------------------------+----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 09:59:30+00:00 | 2023-05-31 10:00:30+00:00 | 2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:10.123457+00:00 |             58 |               32 |     2 | host_0
  2023-05-31 10:00:00+00:00 | 2023-05-31 10:01:00+00:00 | 2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:10.123457+00:00 |             58 |               32 |     2 | host_0
  2023-05-31 10:00:30+00:00 | 2023-05-31 10:01:30+00:00 | 2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:01:00+00:00 | 2023-05-31 10:02:00+00:00 | 2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:09:30+00:00 | 2023-05-31 10:10:30+00:00 | 2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:10:00+00:00 | 2023-05-31 10:11:00+00:00 | 2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 09:59:30+00:00 | 2023-05-31 10:00:30+00:00 | 2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
  2023-05-31 10:00:00+00:00 | 2023-05-31 10:01:00+00:00 | 2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
(8 rows)
> select * from stream_db_fvt_out.cpu_avg_agg9 order by hostname, w_begin;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               39 |     5 | host_0
  2023-05-31 10:00:50.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |               49 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
(3 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg1 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |             60.5 |     2 | host_0
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg2 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |             60.5 |     2 | host_0
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg3 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |             59.6 |     5 | host_0
(1 row)
> select * from stream_db_fvt_out1.cpu_avg_agg4 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |             59.6 |     5 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
(3 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg5 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg |   usage_system_avg    | count | hostname
-----------------------------------+----------------------------------+----------------+-----------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |                    10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 | 44.333333333333333333 |     3 | host_0
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                    56 |     3 | host_0
(3 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg6 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg |   usage_system_avg    | count | hostname
-----------------------------------+----------------------------------+----------------+-----------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |                    10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 | 44.333333333333333333 |     3 | host_0
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:01:10.123457+00:00 |             58 |                    77 |     1 | host_0
  2023-05-31 10:01:20.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |                    88 |     1 | host_0
(4 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg7 order by w_begin, hostname;
  w_begin | w_end | usage_user_avg | usage_system_avg | count | hostname
----------+-------+----------------+------------------+-------+-----------
(0 rows)
> select pg_sleep(25);
  pg_sleep
------------
    true
(1 row)
> select * from stream_db_fvt_out.cpu_avg_agg1 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |               46 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               33 |     3 | host_1
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(6 rows)
> select * from stream_db_fvt_out.cpu_avg_agg2 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |               46 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               33 |     3 | host_1
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(6 rows)
> select * from stream_db_fvt_out.cpu_avg_agg3 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               39 |     5 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:20:00+00:00        |             58 |               19 |     3 | host_1
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:30:00+00:00        |             58 |               43 |     4 | host_0
(3 rows)
> select * from stream_db_fvt_out.cpu_avg_agg4 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               45 |     9 | host_0
  2023-05-31 10:00:10.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               25 |     4 | host_1
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(5 rows)
> select * from stream_db_fvt_out.cpu_avg_agg5 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               40 |     6 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               33 |     3 | host_1
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |               56 |     3 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(5 rows)
> select * from stream_db_fvt_out.cpu_avg_agg6 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               40 |     6 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               33 |     3 | host_1
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:01:10.123457+00:00 |             58 |               77 |     1 | host_0
  2023-05-31 10:01:20.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               88 |     1 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:30:00+00:00        |             58 |                3 |     2 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
(6 rows)
> select * from stream_db_fvt_out.cpu_avg_agg7 order by w_begin, hostname;
  w_begin | w_end | usage_user_avg | usage_system_avg | count | hostname
----------+-------+----------------+------------------+-------+-----------
(0 rows)
> select * from stream_db_fvt_out.cpu_avg_agg8 order by hostname, w_begin;
           w_begin          |           w_end           |             w_begin1             |              w_end1              | usage_user_avg | usage_system_avg | count | hostname
----------------------------+---------------------------+----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 09:59:30+00:00 | 2023-05-31 10:00:30+00:00 | 2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:10.123457+00:00 |             58 |               32 |     2 | host_0
  2023-05-31 10:00:00+00:00 | 2023-05-31 10:01:00+00:00 | 2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:00:10.123457+00:00 |             58 |               32 |     2 | host_0
  2023-05-31 10:00:30+00:00 | 2023-05-31 10:01:30+00:00 | 2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:01:00+00:00 | 2023-05-31 10:02:00+00:00 | 2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:09:30+00:00 | 2023-05-31 10:10:30+00:00 | 2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:10:00+00:00 | 2023-05-31 10:11:00+00:00 | 2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:29:30+00:00 | 2023-05-31 10:30:30+00:00 | 2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
  2023-05-31 10:30:00+00:00 | 2023-05-31 10:31:00+00:00 | 2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
  2023-05-31 09:59:30+00:00 | 2023-05-31 10:00:30+00:00 | 2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
  2023-05-31 10:00:00+00:00 | 2023-05-31 10:01:00+00:00 | 2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:00:20.123457+00:00 |             58 |               44 |     1 | host_1
  2023-05-31 10:19:30+00:00 | 2023-05-31 10:20:30+00:00 | 2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:20:00+00:00 | 2023-05-31 10:21:00+00:00 | 2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
(12 rows)
> select * from stream_db_fvt_out.cpu_avg_agg9 order by hostname, w_begin;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:00.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 |               39 |     5 | host_0
  2023-05-31 10:00:50.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |               49 |     5 | host_0
  2023-05-31 10:01:20.123457+00:00 | 2023-05-31 10:30:00+00:00        |             58 |               31 |     3 | host_0
  2023-05-31 10:00:20.123457+00:00 | 2023-05-31 10:20:00+00:00        |             58 |               19 |     3 | host_1
(4 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg1 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |             60.5 |     2 | host_0
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(6 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg2 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:00:50.123457+00:00 |             58 |             60.5 |     2 | host_0
  2023-05-31 10:01:00.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |               59 |     3 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(6 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg3 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:20:00+00:00        |             58 |              6.5 |     2 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |             59.6 |     5 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:30:00+00:00        |             58 |                3 |     2 | host_0
(3 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg4 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg | usage_system_avg | count | hostname
-----------------------------------+----------------------------------+----------------+------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |               10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |             59.6 |     5 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                3 |     1 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                3 |     1 | host_0
(5 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg5 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg |   usage_system_avg    | count | hostname
-----------------------------------+----------------------------------+----------------+-----------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |                    10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 | 44.333333333333333333 |     3 | host_0
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:10:00.123457+00:00 |             58 |                    56 |     3 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                     3 |     1 | host_1
  2023-05-31 10:30:00+00:00        | 2023-05-31 10:30:00+00:00        |             58 |                     3 |     1 | host_0
(5 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg6 order by w_begin, hostname;
              w_begin              |              w_end               | usage_user_avg |   usage_system_avg    | count | hostname
-----------------------------------+----------------------------------+----------------+-----------------------+-------+-----------
  2023-05-31 10:00:30.123457+00:00 | 2023-05-31 10:00:30.123457+00:00 |             58 |                    10 |     1 | host_1
  2023-05-31 10:00:40.123457+00:00 | 2023-05-31 10:01:00.123457+00:00 |             58 | 44.333333333333333333 |     3 | host_0
  2023-05-31 10:01:10.123457+00:00 | 2023-05-31 10:01:10.123457+00:00 |             58 |                    77 |     1 | host_0
  2023-05-31 10:01:20.123457+00:00 | 2023-05-31 10:01:20.123457+00:00 |             58 |                    88 |     1 | host_0
  2023-05-31 10:10:00.123457+00:00 | 2023-05-31 10:30:00+00:00        |             58 |                     3 |     2 | host_0
  2023-05-31 10:20:00+00:00        | 2023-05-31 10:20:00+00:00        |             58 |                     3 |     1 | host_1
(6 rows)
> select * from stream_db_fvt_out1.cpu_avg_agg7 order by w_begin, hostname;
  w_begin | w_end | usage_user_avg | usage_system_avg | count | hostname
----------+-------+----------------+------------------+-------+-----------
(0 rows)
> drop database if exists stream_db_fvt cascade;
DROP DATABASE
> create ts database stream_db_fvt;
CREATE TS DATABASE
> drop database if exists stream_db_fvt_out cascade;
DROP DATABASE
> create ts database stream_db_fvt_out;
CREATE TS DATABASE
> drop database if exists stream_db_fvt_out1 cascade;
DROP DATABASE
> create database stream_db_fvt_out1;
CREATE DATABASE
> show streams;
  name | target_table_name | options | query | status | create_at | create_by | start_time | end_time | error_message
-------+-------------------+---------+-------+--------+-----------+-----------+------------+----------+----------------
(0 rows)
