> drop database if exists test_udf_char cascade;
DROP DATABASE
> drop database if exists test_udf_re_char cascade;
DROP DATABASE
> CREATE FUNCTION check_substring(str char, substr char)
    RETURNs int
    LANGUAGE LUA
BEGIN
'
function check_substring(str, substr)
    local start_pos, end_pos = string.find(str, substr)
    if start_pos then
        return start_pos
    else
        return -1
    end
end
'
END;
ERROR: lua udf is not allowed to call functions
SQLSTATE: 0A000
> SELECT name FROM system.user_defined_routine where routine_type = 2;
  name
--------
(0 rows)
> SHOW FUNCTIONS;
  function_name
-----------------
(0 rows)
> SHOW FUNCTION check_substring;
ERROR: function check_substring does not exists or current user does not have privilege on this function
SQLSTATE: 42704
> select check_substring('abcdefg', 'cde');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> create ts database test_udf_char;
CREATE TS DATABASE
> create table test_udf_char.tb1(ts timestamptz not null,e1 char(10), e2 char(10))tags(tag1 int not null)primary tags(tag1);
CREATE TABLE
> insert into test_udf_char.tb1 values('2024-01-01 11:00:00','abc', 'b', 1);
INSERT 1
> insert into test_udf_char.tb1 values('2024-01-01 12:00:00','def', 'e' ,2);
INSERT 1
> insert into test_udf_char.tb1 values('2024-01-01 13:00:00','ghi', 'h' ,3);
INSERT 1
> select check_substring(e1, e2) from test_udf_char.tb1 order by e1;
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select count(e1), check_substring(e1, e2) as loc ,last_row(e1) from test_udf_char.tb1 group by e1, e2 having check_substring(e1, e2) >= 0 order by e1;
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> drop table test_udf_char.tb1;
DROP TABLE
> drop database test_udf_char cascade;
DROP DATABASE
> create  database test_udf_re_char;
CREATE DATABASE
> create table test_udf_re_char.r1(e1 char(10), e2 char(10));
CREATE TABLE
> insert into  test_udf_re_char.r1 values('abc', 'b');
INSERT 1
> insert into  test_udf_re_char.r1 values('def', 'e');
INSERT 1
> insert into  test_udf_re_char.r1 values('ghi', 'h');
INSERT 1
> select check_substring(e1, e2) from test_udf_re_char.r1 order by e1;
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select count(e1), check_substring(e1, e2) as loc from test_udf_re_char.r1 group by e1, e2 having check_substring(e1, e2) >= 0 order by e1;
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> drop table test_udf_re_char.r1 ;
DROP TABLE
> drop database test_udf_re_char cascade;
DROP DATABASE
> select check_substring('abcdef', 'a');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('abcdef', 'f');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('abcdef', 'g');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('abcdef', ' ');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('abcdef', '' );
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('  '    , ' ');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('  '    , '' );
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(''      , '' );
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(''      , ' ');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(null, null);
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(-1, 1);
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring('test');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(123456, 'a');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(1.1, '2');
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> select check_substring(false);
ERROR: unknown function: check_substring()
SQLSTATE: 42883
> DROP FUNCTION check_substring;
ERROR: unknown function 'check_substring' when dropping function
SQLSTATE: 42883
> SHOW FUNCTIONS;
  function_name
-----------------
(0 rows)
