> CREATE FUNCTION calculate_distance(x1 double, y1 double, x2 double, y2 double)
    RETURNS double
    LANGUAGE LUA
BEGIN
'function calculate_distance(x1, y1, x2, y2)
    local dx = x2 - x1
    local dy = y2 - y1
    return math.sqrt(dx * dx + dy * dy)
end'
END;
ERROR: lua udf is not allowed to call functions
SQLSTATE: 0A000
> CREATE FUNCTION calculate_factorial(n double)
    RETURNS double
    LANGUAGE LUA
BEGIN
'function calculate_factorial(n)
    local result = 1
    n = math.floor(n)
    if n < 0 or n > math.huge then
        return nil
    end
    for i = 2, n do
        result = result * i
        if result > math.huge then
            return result
        end
    end
    return result
end'
END;
ERROR: lua udf is not allowed to call functions
SQLSTATE: 0A000
> SELECT name FROM system.user_defined_routine where routine_type = 2;
  name
--------
(0 rows)
> SHOW FUNCTIONS;
  function_name
-----------------
(0 rows)
> SHOW FUNCTION calculate_distance;
ERROR: function calculate_distance does not exists or current user does not have privilege on this function
SQLSTATE: 42704
> SHOW FUNCTION calculate_factorial;
ERROR: function calculate_factorial does not exists or current user does not have privilege on this function
SQLSTATE: 42704
> SELECT calculate_distance(0, 0, 1, 1);
ERROR: unknown function: calculate_distance()
SQLSTATE: 42883
> SELECT calculate_factorial(5);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(5.7);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> CREATE TS DATABASE test_udf;
CREATE TS DATABASE
> CREATE TABLE test_udf.tb1(ts timestamptz NOT NULL, e1 double,e2 double,e3 double, e4 double) TAGS(t1 int NOT NULL) PRIMARY TAGS(t1);
CREATE TABLE
> INSERT INTO test_udf.tb1 VALUES(NOW(), 0, 0, 1, 1, 1);
INSERT 1
> INSERT INTO test_udf.tb1 VALUES(NOW(), 5, 5, 5, 5, 2);
INSERT 1
> SELECT calculate_distance(e1, e2, e3, e4) FROM test_udf.tb1 order by e1;
ERROR: unknown function: calculate_distance()
SQLSTATE: 42883
> SELECT calculate_factorial(e1) FROM test_udf.tb1 order by e1;
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> drop table test_udf.tb1;
DROP TABLE
> drop database test_udf cascade;
DROP DATABASE
> CREATE DATABASE test_udf_re;
CREATE DATABASE
> CREATE TABLE test_udf_re.r1(x1 double, y1 double, x2 double, y2 double);
CREATE TABLE
> INSERT INTO test_udf_re.r1 VALUES(0, 0, 1, 1);
INSERT 1
> SELECT calculate_distance(x1, y1, x2, y2) FROM test_udf_re.r1;
ERROR: unknown function: calculate_distance()
SQLSTATE: 42883
> SELECT calculate_factorial(x1) FROM test_udf_re.r1;
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> drop table test_udf_re.r1;
DROP TABLE
> drop database test_udf_re cascade;
DROP DATABASE
> SELECT calculate_factorial(1.79769313486231570814527423731704356798071e+308);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(1.79769313486231570814527423731704356798071e+309);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(170);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(171);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(null);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(null);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(null);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(null);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> SELECT calculate_factorial(-1);
ERROR: unknown function: calculate_factorial()
SQLSTATE: 42883
> DROP FUNCTION calculate_distance;
ERROR: unknown function 'calculate_distance' when dropping function
SQLSTATE: 42883
> DROP FUNCTION calculate_factorial;
ERROR: unknown function 'calculate_factorial' when dropping function
SQLSTATE: 42883
> SHOW FUNCTIONS;
  function_name
-----------------
(0 rows)
